{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HTML email template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="background-color: #ffffff; font-size: 15px;">
  <div style="align:center; height:100%; width:600px; padding:30px;">
    <p style="text-align:left">Bonjour,</p>

    <p style="text-align:left;">Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte.
      Si vous n'avez pas initié cette demande, veuillez ignorer ce message.
      Si vous avez effectivement demandé une réinitialisation de mot de passe,
      veuillez suivre les étapes ci-dessous pour créer un nouveau mot de passe :</p>

    <div class="box-validation" style="text-align:center">
      <a style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;" class='button-restore' href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Valider</a>
    </div>

    <p style="text-align:left;">Saisissez votre adresse e-mail et le code de sécurité qui vous a été envoyé par e-mail.<br>
      Si vous rencontrez des difficultés pour réinitialiser votre mot de passe ou si vous avez des questions, n'hésitez pas à nous contacter.</p>
    <p>Ce lien ne peut être utilisé qu'une seule fois. Si vous avez besoin de générer un nouveau mot de passe retournez sur <a href="{{ protocol }}://{{domain}}/myapp/">My_Garden</a> et recommencez.</p>

    <p style="text-align:left;">Codialement,</p>
    <p style="text-align:left;">My_Garden_team</p>

  </div>


  </body>
</html>

