{% extends 'myapp/base.html' %}
{% block content %}


    <form class="box-user" method="POST">
        {% csrf_token%}
        <h1 class="box-user-title">Nouveau mot de passe.</h1>
        <div class="box-element">
            <div class="element">
                <h2 class="box-user-subtitle">Votre nouveau mot de passe.</h2>
                {{ form.new_password1 }}
            </div>
             <div class="element">
                 <h2 class="box-user-subtitle">Confirmation.</h2>
                {{ form.new_password2 }}
            </div>
        </div>
         <div class="box-validation">
             <input class="button" type="submit" value="Valider">
         </div>
         <div class="box-link">
           <a href="{% url 'myapp:index' %}">Retour</a>
        </div>
        {% if form.errors %}
        <ul class="box-error">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li class="error-form">{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    </form>


{% endblock content %}