{% extends 'myapp/base.html' %}
{% block content %}




    <form class="box-user" method="POST">
        {% csrf_token%}
        <h1 class="box-user-title">Mot de passe oublié.</h1>
		<h2 class="box-user-subtitle">Récuperez votre mot de passe par email.</h2>
        <div class="box-element">
            <div class="element">
                {{ password_reset_form.email }}
            </div>
        </div>
         <div class="box-validation">
             <input class="button" type="submit" value="Valider">
         </div>
        <div class="box-link">
        <a href="#null" onclick="javascript:history.back();">Retour</a>
    </div>

    </form>



{% endblock content %}