{% extends 'myapp/base.html' %}

{% block content %}

<form class="box-user" method="POST">
        {% csrf_token%}

        <h2 class="box-user-subtitle">Etes vous sur de vouloir supprimer votre compte?</h2>
        <h2 class="box-user-subtitle">Toutes vos données seront perdues.</h2>
        <br>

        <div class="box-validation">
                <input class="button" type="submit" value="Supprimer">
                <a class="button" href="{% url 'myapp:index' %}">Annuler</a>
        </div>

</form>
{% endblock %}