{% extends 'myapp/base.html' %}
{% block content %}




<form class="box-user" method="POST">
    {% csrf_token%}
    <h1 class="box-user-title">Mot de passe.</h1>
    <h2 class="box-user-subtitle">Modifier votre mot de passe.</h2>

    <div class="box-element">
        <div class="element">
            {{ form.old_password}}
        </div>
        <div class="element">
            {{ form.new_password1}}
        </div>
        <div class="element">
            {{ form.new_password2}}
        </div>

    </div>
    <div class="box-validation">
        <input class="button" type="submit" value="Modifier">
    </div>
    <div class="box-link">
        <a href="{% url 'myapp:password_reset' %}">Mot de passe oublié? </a>
        <a href="#null" onclick="javascript:history.back();">Retour</a>
    </div>

        {% if form.errors %}
        <ul class="box-error">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li class="error-form">{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

</form>





{% endblock content %}