 <div class="month">
                    <h1>Janvier</h1>
                    <div class="days" id="january-days"></div>
                </div>
                <div class="month">
                    <h1>Février</h1>
                    <div class="days" id="february-days"></div>
                </div>
                <div class="month">
                    <h1>Mars</h1>
                    <div class="days" id="march-days"></div>
                </div>
                <div class="month">
                    <h1>Avril</h1>
                    <div class="days" id="april-days"></div>
                </div>
                <div class="month">
                    <h1>Mai</h1>
                    <div class="days" id="may-days"></div>
                </div>
                <div class="month">
                    <h1>Juin</h1>
                    <div class="days" id="june-days"></div>
                </div>
                <div class="month">
                    <h1>Juillet</h1>
                    <div class="days" id="july-days"></div>
                </div>
                <div class="month">
                    <h1>Aout</h1>
                    <div class="days" id="august-days"></div>
                </div>
                <div class="month">
                    <h1>Septembre</h1>
                    <div class="days" id="september-days"></div>
                </div>
                <div class="month">
                    <h1>Octobre</h1>
                    <div class="days" id="october-days"></div>
                </div>
                <div class="month">
                    <h1>Novembre</h1>
                    <div class="days" id="november-days"></div>
                </div>
                <div class="month">
                    <h1>Décembre</h1>
                    <div class="days" id="december-days"></div>
                </div>